<div class="hero-foot" style="position: relative; width: 100%;">
  <footer class="footer">
      <div class="container">
          <div class="content has-text-centered is-size-7">
              <p>
                  <strong>Praxis tendatum docebit.</strong> (Practice will teach those who try.) — Carl Friedrich Gauss
              </p>
          </div>
      </div>
      <div style="position: absolute; bottom: 0; right: 0; padding: 10px;">
          <p style="font-size: 12px;">
              Thanks to
              <a href="https://github.com/alexhernandezgarcia/alexhernandezgarcia.github.io">Alex</a> for the website template.
          </p>
      </div>
  </footer>
</div>
